body {
    background-color: yellow;
    font-family: "Roboto", sans-serif;
}
.links, a {
    display: block;
}
h1 {
    text-align: center;
}
.web-content {
    display: flex;
    column-gap: 50px;
}

.left-side {
    margin-top: 50px;
    margin-left: 350px;
    max-width: 25%;
}
.right-side {
    margin-top: 50px;
}
.left-side-photo {
    margin-top: 50px;
    margin-left: 350px;
}
.left-side,
.right-side {
  flex: 1;
}
.photo {
    height: auto;
    width: 350px;
}
.hobbies {
    margin-top: -10px;
    height: auto;
    width: 250px;
}
.left-side p {
    font-size: 20px;
}

.bottom-text {
    text-align: center;
    margin-top: auto; 
    margin-bottom: 20px; 
    margin-left: 350px;
    margin-right: 350px;
    font-size: 20px;
}





/* the buttons at the top of the screen*/
.top-buttons {
    text-align: center;
}
.top-buttons button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 30px;
    border-radius: 8px;
    margin-right: 30px;
    font-size: 16px;
}

.projects {
    height: auto;
    width: 350px;
}